# Compiled Object files
*.slo
*.lo
*.o
*.obj
*.elf
*.ko

# Shared objects (inc. Windows DLLs)
*.dll
*.dylib

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.lo
*.a
*.lib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Prerequisites
*.d

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf

# Glade's layout generated on compilation
src/resources.c
src/resources.h

